{% block title %}
<title>About</title>
{% endblock title %} {% block header %}
<h1 style="text-align: center;"><span style="color: #008000;">ACERCA DE NOSOTROS</span></h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<ul>
<li><span style="color: #000000;">Soy Nicolas, estudiante de Ingenier&iacute;a Industrial. Tom&eacute; este curso porque quiero ampliar mis conocimientos y complementar mi carrear con este y otros cursos.</span></li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Siento que aprend&iacute; mucho con este curso, me pareci&oacute; muy bueno y didactico, me gustar&iacute;a seguir aprendiendo sobre el tema.</li>
</ul>
</ul>
{% endblock header %}

<a href={% url 'index' %}>Volver</a>